# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/
CMakeFiles/
.vscode/
.idea/
*.cmake
CMakeCache.txt
job_scheduler
Makefile
.DS_Store

test*